{% extends "base.html" %}
{% block content %}
    <h1><a href="/" class="main-title">Lucas Reynolds</a></h1>
	<div class="info-title">Contact Information</div>
	<br>
	<div class="info-links">
		<div>Phone Number: 810-908-0956</div>
		<div>MSU Email: <a href="mailto:reyno392@msu.edu">reyno392@msu.edu</a></div>
		<div>Gmail Email: <a href="mailto:lreynolds18@gmail.com">lreynolds18@gmail.com</a></div>
		<div>GitHub Profile: <a href="https://github.com/lreynolds18">https://github.com/lreynolds18</a></div>
	</div>

{% endblock %}